section.youtube#youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video <iframe width="300" height="169" src="https://www.youtube.com/embed/89sacBIEq4g?showinfo=0" frameborder="0" allowfullscreen rel="0" controls="0"></iframe>

		.col-1.order-first
			p.home-lead.outdented ...Lorem ipsum dolor sit amet, consectetur adipisicing elitat.
			a(href="").home-cta Watch on Youtube