mixin thumb
		a(href="#" style="background-image: url(http://fillmurray.com/300/400)").article-thumb
			.article-meta
				.name Title Post
				.date 10 dez 2015

section.articles#articles
	.flex.flex--center
		
		.col-50
			.article-wrap
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb

		.col-50.flex.flex--center<!--.order-first-->
			.col-1
				.desc-wrap
					p.home-lead.outdented ...Lorem Ipsum Dolor Sit Amet...
					a(href="#").home-cta Click Button