*
	box-sizing: border-box

.home-wrap
	display: flex
	// ao inves de min-height: 100vh -> position: fixed no filho
	min-height: 100vh 

	@media (max-width: 775px)
		display: block

.home-sections
	flex: 1

	section
		padding: 50px 0
	
	.flex
		display: flex
		flex-direction: row
		// background: #f1f1f1
	
	.flex--center
		justify-content: center

	.flex--space-around
		justify-content: space-around

	.order-first
		order: -1
		// background: lightblue



// columns
.col-1
	width: 300px
	padding: 0 10px
	// background: pink

.col-2
	width: 620px
	padding: 0 10px
	// background: honeydew

.col-50
	width: 50%
	// background: yellow

.push-right
	margin-left: 330px


@media (max-width: 640px)
	.home-sections .flex
		display: block

	.col-1, .col-2, .col-50
		width: auto
		text-align: center

	.push-right
		margin-left: 10px
		
		@media (max-width: 640px)
			margin-left: 0

// Typography
.home-lead
	font-size: 2rem
	line-height: 1.2

	&.outdented
		text-indent: -.8em
		@media (max-width: 830px)
			text-indent: 0
