.articles
	background:
		image: url(../img/img-gaussianblurs-012.jpg)
		size: cover

	.article-wrap
		margin: -50px 0
		+clearfix //bourbon clearfix

	.article-thumb
		display: block
		background: 
			size: cover
			position: center
		width: 25%
		float: left
		position: relative
		overflow: hidden
		opacity: 0
		transform: translateX(-30px)
		transition: all 300ms ease-in-out

		&.is-emph
			animation-name: swing
			animation-duration: 1s
			animation-fill-mode: both
			z-index: 1

		&.is-visible
			transform: translateX(0px)
			opacity: 1

		// after element - padding pega o tamanho do width (position relative required) 
		&:after
			content: ''
			display: block
			padding-top: 100%

	.article-meta
		position: absolute
		background: rgba(lightblue, .6)
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 10px
		color: white
		opacity: 0
		transform: translate(0%, 100%) scale(.5)
		transition: all 200ms ease-in-out

		.name
			font-size: 14px
			line-height: 1.2

		.date
			font-size: 12px
			font-style: italic

	.article-thumb:hover .article-meta
		opacity: 1
		transform: translate(0%, 0%) scale(1)


	@media (max-width: 640px)
		.desc-wrap
			margin-top: 50px

	@media (max-width: 999px) and (min-width: 640px)
		.article-thumb
			width: 33.3%


//animate.css swing
@keyframes swing 
	20% 
		transform: rotate3d(0, 0, 1, 15deg)
	
	40% 
		transform: rotate3d(0, 0, 1, -10deg)
	
	60% 
		transform: rotate3d(0, 0, 1, 5deg)
	
	80% 
		transform: rotate3d(0, 0, 1, -5deg)
	
	to 
		transform: rotate3d(0, 0, 1, 0deg)
	
.swing 
	transform-origin: top center
	animation-name: swing




